<!DOCTYPE html>
<html lang="ru-RU">

<%- partial('_partial/head') %>

<body>
  <div class="mega-container">
    <%- partial('_partial/nav') %>

    <%- body %>

    <%/* - partial('_partial/widgets') */%>

    <%- partial('_partial/footer') %>

    <%- partial('_partial/after-footer') %>
  </div>
</body>

</html>